



<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Single ?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of list">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.birthdate | date:'dd/MM/yyyy' }}</td>
      <td>{{ person.single }}</td>
    </tr>
  </tbody>
</table>

<form (submit)="addPerson()" #form="ngForm">
  <p>
    <label>Name : </label>
    <input type="text" name="name" [(ngModel)]="formPerson.name"
    minlength="2" required #name="ngModel">
    
  </p>
  <p>
    <label>Birthdate : </label>
    <input type="date" name="birthdate" required [(ngModel)]="formPerson.birthdate">
  </p>
  <p>
    <label>Single : </label>
    <input type="checkbox" name="single" [(ngModel)]="formPerson.single">
  </p>
  <button [disabled]="form.invalid" >Add</button>
  {{form.valid | json}}
</form>